/* 전체 페이지 설정 */
* {
    background-color: #000000; /* 리프레쉬할 때 화면 하얗게 되지 않게 */
    outline: none;
    overflow: hidden;
    margin: 0;
}

/* div 요소가 페이지에 꽉 차도록 */
#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}