body {
  margin: 0;          /* 마진 제거 */
  overflow: hidden;   /* 오버플로우 제거 */
}

#canvas {
  width: 100vw;       /* 화면 꽉 채우기 */
  height: 100vh;      /* 화면 꽉 채우기 */
  display: block;     /* 불필요한 여백 제거 */
}
