body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

canvas {
    display: block;
}

#videoCanvas {
    display: none;
    /* display: 1; */
}

#info {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: monospace;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}